    @import "./_reset.scss";
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
    @import "./variables/_initial.scss";
    @import "./mixins/_initial.scss";
    @import "./components/_m-header";
    @import "./components/_footer.scss";
    @import "./components/helpers/_initial.scss";
    @import "./components/_a-btn.scss";
    @import "../icons/_icon-font.scss";
    .o-showcase {
        height: 100%;
        width: 100%;
        background-color: $Valhalla;
        padding-bottom: 100px;
        & h1 {
            @include line-height(20px);
        }
    }
    
    .o-location {
        height: 100vh;
        color: #fff;
        & .m-contact {
            height: 100vh;
            width: 100%;
            padding-left: 270px;
            padding-top: 100px;
            background-image: url(../image/home_marina_wrapbg2.jpg);
            & p {
                @include font-size(12px,
                20px)
            }
            & a {
                @include font-size(10px,
                20px);
                text-decoration: none;
                color: #fff;
            }
            & .contact {
                & h1 {
                    max-width: 70%;
                }
            }
        }
        & .m-location {
            height: 100vh;
            width: 100%;
            &__map {
                height: 100%;
                width: 100%;
            }
        }
    }
    
    .o-feedback {
        height: 100%;
        padding-top: 150px;
        background: #eaeaee url(../image/home_marina_sectionbg7.png) no-repeat;
        padding-bottom: 150px;
        & .m-comment {
            & h2 {
                max-width: 70%;
            }
            & p {
                @include font-size(10px,
                16px);
                font-family: $second-font-family;
                color: $DoveGray;
                max-width: 98%;
            }
        }
        & .m-form {
            &__subject {
                width: 100%;
                height: 35px;
                margin-bottom: 10px;
            }
            &__user {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                &Name {
                    width: 49%;
                    height: 35px;
                }
                &Mail {
                    width: 49%;
                    height: 35px;
                }
            }
            &__message {
                width: 100%;
                margin-bottom: 20px;
                resize: none;
                padding: 10px;
            }
            & .-input {
                padding-left: 10px;
                border-radius: 3px;
                padding-right: 10px;
                color: #a5a5a6;
                background-color: rgba(240, 240, 242, 1);
                border: .5px solid #aca8c5;
                &:focus {
                    background-color: #E9F5FC;
                    border-color: #d5e5ee;
                    color: #1982C2;
                    outline: none;
                }
            }
        }
    }
    
    .o-contactUs {
        height: 100%;
        padding-bottom: 200px;
        background-color: #eaeaee;
        & .line {
            display: inline-block;
            height: 1px;
            width: 100%;
            background-color: #7d48df;
        }
        & h5.a-title {
            color: $MediumPurple;
        }
        &__profilePhoto {
            height: 254px;
            width: 254px;
            object-fit: cover;
            border-radius: 3px;
        }
        & .job {
            @include font-size(10px,
            16px);
            font-family: $second-font-family;
            color: $SilverChalice;
            padding-bottom: 10px;
            border-bottom: 1px solid $MediumPurple;
            align-self: flex-start;
        }
        & .biography {
            @include font-size(10px,
            14px);
            font-family: $second-font-family;
            color: $DoveGray;
        }
        &__social a {
            padding: 8px;
            display: inline-flex;
            align-items: center;
            margin-right: 3px;
            background-color: $White;
            & i {
                font-size: 20px;
            }
        }
        & .day {
            border-bottom: 1px solid $MediumPurple;
            padding-bottom: 15px;
            align-self: flex-start;
        }
        & .time {
            display: flex;
            & h2 {
                color: $MediumPurple;
            }
        }
    }
    
    @include tablet() {
        .m-adress {
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .o-contactUs {
            &__profilePhoto {
                margin-bottom: 30px;
                margin-right: 20px;
            }
            & .biography {
                @include font-size(12px,
                20px);
            }
        }
        .m-image_gallery img {
            padding: 5px;
        }
    }