@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
@import "./variables/_initial.scss";
@import "./mixins/_initial.scss";
@import "./components/helpers/_initial.scss";
@import "./components/_m-card.scss";
@import "./components/m-header";
@import "./components/_footer.scss";
@import "./components/_a-top-btn.scss";
@import "../icons/_icon-font.scss";
.o-showcase {
    height: 100%;
    width: 100%;
    background-color: $Valhalla;
    padding-bottom: 100px;
    & h1 {
        @include line-height(20px);
    }
}

.o-description {
    height: 100%px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: "";
        height: 61px;
        width: 245px;
        position: absolute;
        top: -30px;
        left: 50%;
        background-repeat: no-repeat;
        transform: translateX(-50%);
        background-image: url(../image/home_marina_wave.png);
    }
    & .m-row {
        margin: 100px 0;
        & h5 {
            color: $MediumPurple;
            padding-bottom: 50px;
        }
    }
}