@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
@import "./variables/_initial.scss";
@import "./mixins/_initial.scss";
@import "./components/helpers/_initial.scss";
@import "./components/_m-card.scss";
@import "./components/_m-header.scss";
@import "./components/_a-btn.scss";
@import "./components/_footer.scss";
@import "./components/_a-top-btn.scss";
@import "../icons/_icon-font.scss";
.o-showcase {
    padding-bottom: 50px;
    height: 130vh;
    width: 100%;
    background-image: url(../image/home_marina_section_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $DeepCove;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .col:not(:last-child) {
        padding-bottom: 20px;
    }
    & .content {
        display: flex;
        flex-direction: column;
        & p {
            color: $White;
            font-family: $second-font-family;
            font-weight: $light;
        }
    }
}

.o-articleList {
    height: 100%;
    width: 100%;
    background-color: $DeepCove;
    padding-bottom: 100px;
    position: relative;
    &::after {
        content: "";
        height: 61px;
        width: 245px;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../image/home_marina_wave.png);
    }
    & .m-article {
        $article: ".m-article";
        display: inline-block;
        position: relative;
        color: $White;
        padding: 0 10px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .15);
            opacity: 0;
            bottom: 0;
            right: 0;
            @include transition(all,
            300ms)
        }
        &:hover {
            &::after {
                opacity: 1;
                @include transition(all,
                300ms)
            }
            #{$article}__info {
                margin-bottom: 20px;
                @include transition(all,
                300ms);
            }
        }
        & img {
            max-height: 415px;
            width: 100%;
            object-fit: cover;
        }
        &__info {
            position: absolute;
            bottom: 35px;
            right: 50%;
            transform: translateX(50%);
            @include transition(all,
            300ms);
            & p {
                display: inline-block;
                padding: 4px 8px;
                border-radius: 3px;
                font-size: $fs-14;
                font-weight: $medium;
                font-family: $second-font-family;
                background-color: $MediumPurple;
                text-transform: uppercase;
                border: 1px dashed $Pomegrante;
                background-image: url(./../image/stripes_10_w.png);
            }
        }
    }
}

.o-section-wrapper {
    height: 100vh;
    width: 100%;
    margin-top: 200px;
    background-image: url(../image/home_marina_sectionbg2.png);
    background-position-x: -800px;
    background-position-y: -300px;
    @include flex(flex,
    row,
    nowrap,
    center);
    margin-bottom: 130px;
    position: relative;
    & img {
        height: 265px;
        width: 310px;
        margin-bottom: 50px
    }
    & .m-article {
        &__desc {
            @include font-size(10px,
            18px);
            font-weight: $light;
            font-family: $second-font-family;
            color: $DoveGray;
        }
        & .tool-tip {
            padding: 20px;
            background-color: #F7F7F7;
            border-top: 1px solid #C5C8CB;
            &__desc {
                @include font-size(7px,
                14px);
                font-weight: $light;
                color: #626262;
            }
        }
    }
}

.o-new {
    .m-row {
        & h5 {
            color: $MediumPurple;
        }
    }
    .line {
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: #7d48df;
    }
}

.o-marina__detail {
    height: 100%;
    background-image: url(../image/home_marina_sectionbg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 200px;
    display: flex;
    & .m-desc {
        & h5 {
            color: $MediumPurple;
            margin-bottom: 30px;
        }
        & h1 {
            margin-bottom: 30px;
            @include font-size(18px,
            21px);
            width: 80%;
        }
    }
    & .m-image {
        height: 100%;
        padding-bottom: 15px;
        background-image: url(../image/home_marina_wrapbg1.jpg);
        background-repeat: no-repeat;
        object-fit: fill;
        & .boat {
            padding-top: 300px;
            padding-left: 40px;
            padding-right: 20px;
            color: $White;
        }
        & .number {
            font-size: 64px;
            line-height: 64px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        & .comment {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: $White;
            padding-top: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@include desktop() {
    .o-showcase {
        & .col:not(:last-child) {
            border-right: .5px solid rgba(#fff, .2);
        }
    }
    .articleList {
        height: 100%;
        width: 100%;
    }
    .m-article {
        padding: 0 10px;
    }
    .o-section-wrapper {
        position: relative;
        background-position-x: -170px;
        background-position-y: -100px;
        & img {
            height: auto;
            width: auto;
            position: absolute;
            top: 190px;
            left: 205px;
        }
        & .m-article {
            & .tool-tip {
                &__desc {
                    @include font-size(9px,
                    25px);
                }
            }
        }
    }
    .o-marina__detail {
        background-position-y: 80px;
        & .m-image {
            height: 649px;
        }
    }
}