@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
@import "./variables/_initial.scss";
@import "./mixins/_initial.scss";
@import "./components/helpers/_initial.scss";
@import "./components/_footer.scss";
@import "./components/_a-btn.scss";
@import "../icons/_icon-font.scss";
@import "./components/_m-header.scss";
.o-showcase {
    height: 100vh;
    width: 100%;
    background-image: url(../image/home_marina_sectionbg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    & h1 {
        margin-bottom: 250px;
    }
}

.o-description {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 250px;
    &::after {
        content: "";
        height: 61px;
        width: 245px;
        position: absolute;
        top: -30px;
        left: 50%;
        background-repeat: no-repeat;
        transform: translateX(-50%);
        background-image: url(../image/home_marina_wave.png);
    }
    & p {
        @include font-size(8px,
        14px);
        font-family: $second-font-family;
        font-weight: $light;
        margin-bottom: 15px;
    }
}

.o-gallery {
    height: 100%;
    & .m-image_gallery {
        display: flex;
        flex-wrap: wrap;
    }
    & img {
        width: 100%;
        margin: 10px;
    }
}

.o-plan {
    height: 100%;
    margin-top: 120px;
    & .title__desc {
        & p {
            font-family: $second-font-family;
            @include font-size(9px,
            14px);
            color: $DoveGray;
        }
    }
    & p {
        color: $DoveGray;
        margin-bottom: 25px;
        @include font-size(9px);
        & i {
            color: $Black;
            margin-right: 5px;
        }
    }
    & .button {
        margin: 100px 0;
        & a {
            color: $MediumPurple;
            border: solid 10px $MediumPurple;
            padding: 30px 90px;
            text-decoration: none;
            transition: 300ms;
        }
    }
    & .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            height: 210px;
            width: 310px;
        }
    }
}

@include desktop() {
    $header-height: 251px;
    .o-description {
        height: 100vh;
        padding-top: 0px;
        & p {
            @include font-size(10px,
            18px);
            font-family: $second-font-family;
            font-weight: $light;
            margin-bottom: 15px;
        }
    }
    .o-gallery {
        height: 100%;
        & img {
            width: 100%;
            margin: 10px;
        }
    }
    .o-plan {
        & .title__desc {
            & p {
                margin: 0px 200px;
            }
        }
        & .image {
            & img {
                height: auto;
                width: auto;
            }
        }
        & .button {
            margin: 150px 0;
            & a {
                color: $MediumPurple;
                border: solid 10px $MediumPurple;
                padding: 30px 200px;
                text-decoration: none;
                transition: 300ms;
            }
        }
    }
}