@mixin flex($flex, $direction, $wrapType, $justify, $align: center) {
    display: $flex;
    flex-flow: $direction $wrapType;
    justify-content: $justify;
    align-items: $align;
}

// Example
// @include flex(flex, column, nowrap, space-beetwen, right); 
// @include flex(inline-flex, column, nowrap, space-beetwen);