// Mobile/Default
.a-title {
    &.-m-h {
        &1 {
            font-size: 27px;
            line-height: 33px;
            font-weight: 700;
            letter-spacing: 8px;
        }
        &2 {
            font-size: 21px;
            line-height: 21px;
            font-weight: 400;
            letter-spacing: 0px;
        }
        &3 {
            font-size: 15px;
            line-height: 19px;
            font-weight: 400;
            letter-spacing: 0px;
        }
        &4 {
            font-size: 13px;
            line-height: 19px;
            font-weight: 400;
            letter-spacing: 0px;
        }
        &5 {
            font-size: 13px;
            line-height: 19px;
            font-weight: 400;
            letter-spacing: 4px;
        }
        &6 {
            font-size: 13px;
            line-height: 19px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }
    // Tablet
    &.-t-h {
        &1 {
            @include tablet {
                font-size: 38px;
                line-height: 47px;
                letter-spacing: 8px;
                font-weight: 700;
            }
        }
        &2 {
            @include tablet {
                font-size: 27px;
                line-height: 27px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &3 {
            @include tablet {
                font-size: 21px;
                line-height: 25px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &4 {
            @include tablet {
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &5 {
            @include tablet {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                letter-spacing: 4px;
            }
        }
        &6 {
            @include tablet {
                font-size: 13px;
                line-height: 21px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
    }
    // Desktop
    &.-d-h {
        &1 {
            @include desktop {
                font-size: 45px;
                line-height: 55px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &2 {
            @include desktop {
                font-size: 30px;
                line-height: 30px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &3 {
            @include desktop {
                font-size: 25px;
                line-height: 29px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &4 {
            @include desktop {
                font-size: 21px;
                line-height: 25px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
        &5 {
            @include desktop {
                font-size: 16px;
                line-height: 25px;
                font-weight: 400;
                letter-spacing: 4px;
            }
        }
        &6 {
            @include desktop {
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
    }
}