// Mobile
.m {
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-justify {
        text-align: justify;
    }
}

// Tablet
@include tablet {
    .t {
        &-right {
            text-align: right;
        }
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-justify {
            text-align: justify;
        }
    }
}

// Desktop
@include desktop {
    .d {
        &-right {
            text-align: right;
        }
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-justify {
            text-align: justify;
        }
    }
}