// Mobile
.m-none {
    display: none;
}

.m-block {
    display: block;
}

// Tablet
.t-none {
    @include tablet {
        display: none;
    }
}

.t-block {
    @include tablet {
        display: block;
    }
}

// Desktop
.d-none {
    @include desktop {
        display: none;
    }
}

.d-block {
    @include desktop {
        display: block;
    }
}