// Mobile
.m {
    &-none {
        display: none !important;
    }
    &-block {
        display: block !important;
    }
}

// Tablet
@include tablet {
    .t {
        &-none {
            display: none !important;
        }
        &-block {
            display: block !important;
        }
    }
}

// Desktop
@include desktop {
    .d {
        &-none {
            display: none !important;
        }
        &-block {
            display: block !important;
        }
    }
}