$White:#FFFFFF;
$LightWhite: rgba(240, 240, 240, .1);
$Black:#000000;
$Alabaster:#FCFCFC;
$MediumPurple:#7D48DF;
$LuckyPoint:#1B1C65;
$Valhalla:#251248;
$CodGray:#191919;
$DeepCove:#070836;
$AthensGray:#E6E9EE;
$Mischka:#DBD9E7;
$SpunPearl:#AAA7B3;
$SilverChalice:#A8A8A8;
$Pomegrante:#F03B3F;
$DoveGray:#626262;
$Logan: #AAA9CD;
$StrongBlack:rgba(#000000, .26);
$SoftBlack:rgba(#000000, .05);
$LightBlack:rgba(#000000, .14);