
.icon-star:before { content: '\e800'; } /* '' */
.icon-tick:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-attach:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
